.cardgrid__container {
    display: grid;
    grid-template-columns: 20% 20% 20% 20%;
    column-gap: 6.5%;
    row-gap: 0.3%;
    justify-content: center;
    align-items: center;
}

/*===========Breakpoints===========*/
/*For large devices*/
@media screen and (max-width: 992px) {
    .cardgrid__container {
        grid-template-columns: 1fr 1fr;
        row-gap: .1%;
    }
}

@media screen and (max-width: 576px) {
    .cardgrid__container {
        grid-template-columns: 1fr;
        row-gap: .05%;
    }
}